<% if @menu.errors.any? %>
	<ul>
		<%= @menu.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<h2>Give your menu a name!</h2>

<%= form_for @menu do |f| %>
	<%=f.text_field :name %>
	<%=f.submit "Create New Menu" %>
<% end %>