<!DOCTYPE html>
<html>
  <head>
    <title>MyMenu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<h1 id="title">MyMenu</h1>
  	<div id='nav'>
  		<nav> <%= link_to 'Home', root_path %> |
  			<% if current_user %>
  				<%= link_to 'Logout', logout_path %> | <%= link_to 'New Menu', new_menu_path %> | <span id='user-info'><%= current_user.username %> </span>
  			<% else %>
  				<%= link_to 'Register', new_user_path %> |  <%= link_to 'Login', sessions_new_path, id: 'login-link', remote: true %>
  			<% end %>
  		</nav>
    <%= yield %>
  </body>
</html>
